@mixin flex-row($gap: 0rem){
    display: flex;
    flex-direction: row;
}
@mixin image{
    background-position:center;
    background-size: cover;
}
@mixin border-radius{
         border-bottom-right-radius: 10%;
     border-bottom-left-radius: 10%;
}
@mixin flex-column{
      display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Pliant", sans-serif;
           color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    section.view1{
        width: 100%;
        max-height: 100vh;
         background-image: url(https://i.pinimg.com/736x/a6/11/c3/a611c33cad5b9ba7c97c0233dad056de.jpg);
        @include image;
        @include border-radius;
        padding: 1rem;
        align-content: center;
     
        .center{
            @include flex-row;
            justify-content: space-between;
            padding: 1rem;
            min-height: 30vh;
            align-items: center;
            .left{
                height: 100%;
                
                h1{
                    font-size: 1rem;
                }
                h2{
                    font-size: 3rem
                }
            }

        }
        .right{
                @include flex-column;
               padding: 1rem;
                align-items: flex-end;
            
                small{
                    opacity: 0.7;
                    text-align: end;
                    font-size: 0.5rem;
                }
            }
    }
    section.view2{
          
        .bottom{
                width: 100%;
                @include flex-row;
                justify-content: space-evenly;
                text-transform: capitalize;
                padding: 1rem;
                
                .impact{
                        font-size: 0.7rem;
                        @include flex-column;
                        justify-content: space-between;
                        gap: 0.5rem;
                      
                    span{
                        color: orange;
                    }

                    h3{
                        font-size: 0.5rem;
                    }
                }
            }
    }
    section.view3{
        @include flex-row;
        justify-content: space-between;
        gap: 0.2rem;
        padding:1rem;
        align-items: center;
        
        h4{
            font-size: 0.5rem;
        }
        i{
             font-size: 1rem;
           
             span{
                 font-size: 0.7rem;
                  font-family: "Pliant", sans-serif;;
             }
        }
    }
}
