* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pliant", sans-serif;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
}
main section.view1 {
  width: 100%;
  max-height: 100vh;
  background-image: url(https://i.pinimg.com/736x/a6/11/c3/a611c33cad5b9ba7c97c0233dad056de.jpg);
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 1rem;
  align-content: center;
}
main section.view1 .center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  min-height: 30vh;
  align-items: center;
}
main section.view1 .center .left {
  height: 100%;
}
main section.view1 .center .left h1 {
  font-size: 1rem;
}
main section.view1 .center .left h2 {
  font-size: 3rem;
}
main section.view1 .right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-end;
}
main section.view1 .right small {
  opacity: 0.7;
  text-align: end;
  font-size: 0.5rem;
}
main section.view2 .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: capitalize;
  padding: 1rem;
}
main section.view2 .bottom .impact {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
main section.view2 .bottom .impact span {
  color: orange;
}
main section.view2 .bottom .impact h3 {
  font-size: 0.5rem;
}
main section.view3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 1rem;
  align-items: center;
}
main section.view3 h4 {
  font-size: 0.5rem;
}
main section.view3 i {
  font-size: 1rem;
}
main section.view3 i span {
  font-size: 0.7rem;
  font-family: "Pliant", sans-serif;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  line-height: 1.5;
  gap: 1rem;
}
main section.view4 p {
  color: orange;
}
main section.view4 .btn {
  color: white;
  background-color: rgb(255, 145, 0);
  padding: 1rem 2rem;
  border-radius: 4rem;
  border: none;
  margin: 1rem;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main section.view4 .btn i {
  color: orange;
  background-color: white;
  padding: 0.6rem;
  border-radius: 50%;
}
main section.view4 .btn:hover {
  box-shadow: 10px 5px 1px white;
}
main section.view5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
main section.view5 img:nth-child(1) {
  border-radius: 5%;
}
main section.view5 img:nth-child(2) {
  border-radius: 5%;
}
main section.view5 img:nth-child(3) {
  border-radius: 5%;
}
main section.view5 img {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
main section.view5 img:hover {
  box-shadow: 0px 0px 10px rgb(252, 252, 252);
  transform: scale(1.05);
}
main section.view6 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
main section.view6 .card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
main section.view6 .card img {
  width: 15vh;
  border-radius: 1rem;
}
main section.view6 .card p {
  align-content: center;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1.5;
}
main section.view6 .card p span {
  font-size: 2rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main section.view6 .card p span:hover {
  text-shadow: 6px 6px 10px white;
}
main section.view6 .card2 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row-reverse;
}
main section.view6 .card2 img {
  width: 15vh;
  border-radius: 1rem;
}
main section.view6 .card2 p {
  align-content: center;
  text-transform: capitalize;
}
main section.view6 .card2 p span {
  font-size: 2rem;
  color: black;
  -webkit-text-stroke: 1.3px white;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main section.view6 .card2 p span:hover {
  text-shadow: 6px 6px 10px white;
}
main section.view6 .card3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
main section.view6 .card3 img {
  width: 15vh;
  border-radius: 1rem;
}
main section.view6 .card3 p {
  align-content: center;
  text-transform: capitalize;
}
main section.view6 .card3 p span {
  font-size: 2rem;
  color: black;
  -webkit-text-stroke: 1.3px white;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main section.view6 .card3 p span:hover {
  text-shadow: 6px 6px 10px white;
}

body::-webkit-scrollbar {
  background-color: black;
  scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

@media (min-width: 900px) {
  main section.view2 .bottom .impact {
    font-size: 2rem;
  }
  main section.view3 {
    margin: 2rem;
  }
  main section.view3 h4 {
    font-size: 1.2rem;
  }
  main section.view3 i {
    font-size: 1.2rem;
  }
  main section.view3 i span {
    font-size: 1.2rem;
  }
  main section.view5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    justify-content: space-between;
  }
  main section.view5 img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view6 .card img, main section.view6 .card2 img {
    width: 60vh;
  }
  main section.view6 .card p, main section.view6 .card2 p {
    width: 50%;
    line-height: 3;
  }
  main section.view6 .card p span, main section.view6 .card2 p span {
    font-size: 2rem;
    color: black;
    -webkit-text-stroke: 1.3px white;
    font-weight: 600;
  }
}/*# sourceMappingURL=style.css.map */